<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta charset='UTF-8'>
	<meta content='width=device-width, initial-scale=1' name='viewport' />

	<meta name='description' content='Nalini Joshi is a Professor of Mathematics at Sydney.'>
	<meta name='keywords' content='{{ page.keywords }}'>
	<meta name='author' content='Nalini Joshi'>

	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/assets/css/main.css">

	<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre']
      }
    });
  </script>
	<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
		type="text/javascript"></script>

</head>

<body>

	<div class="content">
		{% include nav.html %}
		<div class='front-matter'>
			<div class='wrap'>
				<h1>{{ page.title }}</h1>
				<h4>{{ page.subtitle }}</h4>

			</div>
		</div>
		<div class='wrap article'>
			{{ content }}
		</div>
	</div>

	<footer>
		<ul>
			<li><a href="mailto:nalinijoshi@me.com">email</a></li>
			<li><a href="https://github.com/nalinijoshi">github.com/nalinijoshi</a></li>
		</ul>
	</footer>
</body>

</html>
